/node_modules
/bower_components
/package-lock.json
Homestead.yaml
.env
.tmp
.sass-cache

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
!.elasticbeanstalk/create.sh
!.elasticbeanstalk/deploy.sh
!.elasticbeanstalk/build
