option_settings:
    - namespace: aws:elasticbeanstalk:application:environment
      option_name: APP_ENV
      value: production
    - namespace: aws:elasticbeanstalk:container:php:phpini
      option_name: document_root
      value: /public
    - namespace: aws:elasticbeanstalk:application:environment
      option_name: COMPOSER_HOME
      value: /root
    - namespace: aws:elasticbeanstalk:application:environment
      option_name: NVM_DIR
      value: /usr/local/nvm
    - namespace: aws:elasticbeanstalk:application:environment
      option_name: PM2_HOME
      value: /usr/local/pm2
    - namespace: aws:autoscaling:launchconfiguration
      option_name: SecurityGroups
      value: "elasticbeanstalk-default,rds-launch-wizard"
