container_commands:
    00_create_laravel_log_folder:
        command: "mkdir /var/log/laravel"
        test: '[ ! -d /var/log/laravel ]'
    01_log-rotated-dir:
        command: "mkdir /var/log/laravel/rotated"
        test: '[ ! -d /var/log/laravel/rotated ]'
    
    10_create_laravel_scheduler_log:
        command: "touch /var/log/laravel/scheduler.log"
        test: '[ ! -f /var/log/laravel/scheduler.log ]'
    10_remove_laravel_scheduler_sync_log:
        command: "rm -f /var/log/laravel/scheduler_sync.log"
        test: '[ -f /var/log/laravel/scheduler_sync.log ]'
    11_create_laravel_cli:
        command: "touch /var/log/laravel/laravel-cli.log"
        test: '[ ! -f /var/log/laravel/laravel-cli.log ]'
    12_create_laravel_apache2handler:
        command: "touch /var/log/laravel/laravel-apache2handler.log"
        test: '[ ! -f /var/log/laravel/laravel-apache2handler.log ]'
    13_create_app_cli:
        command: "touch /var/log/laravel/app-cli.log"
        test: '[ ! -f /var/log/laravel/app-cli.log ]'
    14_create_app_apache2handler:
        command: "touch /var/log/laravel/app-apache2handler.log"
        test: '[ ! -f /var/log/laravel/app-apache2handler.log ]'
    15_create_laravel_queue_priority:
        command: "touch /var/log/laravel/laravel-queue-priority.log"
        test: '[ ! -f /var/log/laravel/laravel-queue-priority.log ]'
    16_create_laravel_queue_sources:
        command: "touch /var/log/laravel/laravel-queue-sources.log"
        test: '[ ! -f /var/log/laravel/laravel-queue-sources.log && "$APP_WORKER" != "true" ]'
    
    20_laravel_log_folder_permissions:
        command: "chmod -R 777 /var/log/laravel"
    
    
    50-log-taillogs:
        command: "yes | cp .ebextensions/logs/laravel-taillogs.conf /opt/elasticbeanstalk/tasks/taillogs.d/laravel.conf"
    51-log-taillogs-permissions:
        command: "chmod 644 /opt/elasticbeanstalk/tasks/taillogs.d/laravel.conf;"
    52-log-bundlelogs:
        command: "yes | cp .ebextensions/logs/laravel-bundlelogs.conf /opt/elasticbeanstalk/tasks/bundlelogs.d/laravel.conf"
    53-log-bundlelogs-permissions:
        command: "chmod 644 /opt/elasticbeanstalk/tasks/bundlelogs.d/laravel.conf"
    54-log-publishlogs:
        command: "yes | cp .ebextensions/logs/laravel-publishlogs.conf /opt/elasticbeanstalk/tasks/publishlogs.d/laravel.conf"
    55-log-publishlogs-permissions:
        command: "chmod 644 /opt/elasticbeanstalk/tasks/publishlogs.d/laravel.conf"
    
    60-logrotate:
        command: "yes | cp .ebextensions/logs/logrotate.elasticbeanstalk.laravel.conf /etc/logrotate.elasticbeanstalk.hourly/logrotate.elasticbeanstalk.laravel.conf"
    61-logrotate-permissions:
        command: "chmod 644 /etc/logrotate.elasticbeanstalk.hourly/logrotate.elasticbeanstalk.laravel.conf"
    
    70-cron-logrotate:
        command: "yes | cp .ebextensions/cron/cron.logrotate.elasticbeanstalk.laravel.conf /etc/cron.hourly/cron.logrotate.elasticbeanstalk.laravel.conf"
    71-cron-logrotate-permissions:
        command: "chmod 755 /etc/cron.hourly/cron.logrotate.elasticbeanstalk.laravel.conf"
