container_commands:

    01_update_php5_6_config:
        command: 'grep -q -F "apc.enable_cli = On" /etc/php-5.6.d/40-apcu.ini || echo -e "\napc.enable_cli = On" >> /etc/php-5.6.d/40-apcu.ini'
        test: '[ -d "/etc/php-5.6.d/" ]'
    02_update_php7_0_config:
        command: 'grep -q -F "apc.enable_cli = On" /etc/php-7.0.d/40-apcu.ini || echo -e "\napc.enable_cli = On" >> /etc/php-7.0.d/40-apcu.ini'
        test: '[ -d "/etc/php-7.0.d/" ]'
    03_update_php_config:
        command: 'grep -q -F "apc.enable_cli = On" /etc/php.d/40-apcu.ini || echo -e "\napc.enable_cli = On" >> /etc/php.d/40-apcu.ini'
        test: '[ -d "/etc/php.d/" ]'
    04_replace_memcached_serializer:
        command: 'sed -i -- ''s/"igbinary"/"php"/g'' /etc/php-7.0.d/50-memcached.ini'
        test: '[ -f "/etc/php-7.0.d/50-memcached.ini" ]'


commands:
    01_remove_pgsql:
        command: "yum remove -y php56-pgsql"
    02_install_zip:
        command: "yum install -y php70-zip"

files:
    "/opt/elasticbeanstalk/hooks/appdeploy/pre/09_composer_update.sh":
        mode: "000755"
        owner: root
        group: root
        content: |
            #!/usr/bin/env bash
            #export COMPOSER_HOME=/root
            #/usr/bin/composer.phar self-update
