packages:
    yum:
        ImageMagick: []
        ImageMagick-devel: []

commands:
    01-ffmpeg-wget:
        command: "wget -O /tmp/ffmpeg.tar.xz https://johnvansickle.com/ffmpeg/releases/ffmpeg-release-i686-static.tar.xz"
        test: "[ ! -f /opt/ffmpeg/ffmpeg ]"
    02-ffmpeg-mkdir:
        command: "mkdir -p /opt/ffmpeg"
        test: "[ ! -d /opt/ffmpeg ]"
    03-ffmpeg-tar:
        command: "tar -xf /tmp/ffmpeg.tar.xz --strip 1 -C /opt/ffmpeg/"
        test: "[ ! -f /opt/ffmpeg/ffmpeg ]"
    04-ffmpeg-ln:
        command: "ln -s /opt/ffmpeg/ffmpeg /usr/bin/ffmpeg"
        test: "[ ! -L /usr/bin/ffmpeg ] && [ ! -f /usr/bin/ffmpeg ]"
    05-ffmpeg-ln:
        command: "ln -s /opt/ffmpeg/ffprobe /usr/bin/ffprobe"
        test: "[ ! -L /usr/bin/ffprobe ] && [ ! -f /usr/bin/ffmpeg ]"
    06-ffmpeg-ln:
        command: "ln -s /opt/ffmpeg/ffmpeg /usr/local/bin/ffmpeg"
        test: "[ ! -L /usr/local/bin/ffmpeg ] && [ ! -f /usr/local/bin/ffmpeg ]"
    07-ffmpeg-ln:
        command: "ln -s /opt/ffmpeg/ffprobe /usr/local/bin/ffprobe"
        test: "[ ! -L /usr/local/bin/ffprobe ] && [ ! -f /usr/local/bin/ffprobe ]"
