container_commands:
    01_copy_env:
        command: cp -rf .env.elasticbeanstalk .env
    02_add_environment_variables:
        command: sed 's/export //' /opt/elasticbeanstalk/support/envvars >> .env
    03_db_install:
        command: "php artisan db:install --force --no-interaction"
        ignoreErrors: true
        leader_only: true

    10-cron-laravel-scheduler:
        command: "cp .ebextensions/cron/laravel_scheduler /etc/cron.d/laravel_scheduler"
        ignoreErrors: true
    11-cron-laravel-scheduler-permissions:
        command: "chmod 644 /etc/cron.d/laravel_scheduler"

files:
    "/opt/elasticbeanstalk/hooks/configdeploy/post/400-laravel.sh":
        mode: "000755"
        owner: root
        group: root
        content: |
            #!/usr/bin/env bash
            . /opt/elasticbeanstalk/support/envvars

            cd /var/app/current/
            composer.phar dump-autoload
            php artisan optimize
            php artisan route:clear
            php artisan view:clear
            php artisan config:clear
            php artisan config:cache
            php artisan route:cache
            php artisan queue:restart

    "/opt/elasticbeanstalk/hooks/appdeploy/post/400-laravel.sh":
        mode: "000755"
        owner: root
        group: root
        content: |
            #!/usr/bin/env bash
            . /opt/elasticbeanstalk/support/envvars

            cd /var/app/current/
            composer.phar dump-autoload
            php artisan optimize
            php artisan route:clear
            php artisan view:clear
            php artisan config:clear
            php artisan config:cache
            php artisan route:cache
            php artisan queue:restart
