container_commands:
    01_permissions_storage:
        command: "chown -R webapp:webapp storage"
        ignoreErrors: true
    02_permissions_storage_mode:
        command: "chmod -R 777 storage"
        ignoreErrors: true
    03_permissions_files:
        command: "chown -R webapp:webapp public/files"
        ignoreErrors: true
    04_permissions_files_mode:
        command: "chmod -R 666 public/files"
        ignoreErrors: true
