body {
    background-color: #94D2B6;
}

.content {
    background-color: #94D2B6;
}

td {
    color: #000;
}

.section-basic-infos.basic-infos-with-cta {
    background-color: #42BA8A;
}

.section-basic-infos .bubble-type-name td {
    border-color: #000;
}

.bubble-field {
    border-top-color: #008348;
}

.section-message .message-container {
    border-right-color: #008348;
}

.button td {
    background-color: #5FB6DE;
    border-bottom-color: #007CC2;
}

.button a {
    color: #000;
}

.section-footer .footer-note {
    color: #000;
}

.section-footer .footer-note a {
    color: #007CC2;
    text-decoration: underline;
    text-decoration-color: #007CC2;
}
