@font-face {
    font-family: 'Canal';
    src: url("../fonts/Canal-Light.eot");
    src: url("../fonts/Canal-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Canal-Light.woff") format("woff"), url("../fonts/Canal-Light.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Canal';
    src: url("../fonts/Canal-Medium.eot");
    src: url("../fonts/Canal-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Canal-Medium.woff") format("woff"), url("../fonts/Canal-Medium.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Canal';
    src: url("../fonts/Canal-Medium.eot");
    src: url("../fonts/Canal-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Canal-Medium.woff") format("woff"), url("../fonts/Canal-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}
